<div>
    <!-- Toolbar -->
    <div class="toolbar" >
    
        <!-- <form  name="filterForm" [formGroup]="filterForm"> -->

            <!-- <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="center center">
        
                <div class="search" fxLayout="row" fxLayoutAlign="center center">

                    <mat-form-field>
                        <mat-select (selectionChange)="selectionChange($event)">
                            <mat-option value="asc">Sort By Name</mat-option>
                            <mat-option value="desc">Sort By Descending</mat-option>
                        </mat-select>
                    </mat-form-field>
                
                </div>
        
            </div> -->
        
            <div class="search-wrapper" fxLayout="column" fxLayoutAlign="center center">
        
                <div class="search" fxLayout="column" fxLayoutAlign="center center">

                    <mat-form-field class="mr_10">
                        <input matInput (keyup)="applyFilter()" [(ngModel)]="searchKey" placeholder="Search">
                        <button type="button" mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
                            <mat-icon>close</mat-icon>
                        </button>
                        <!-- <mat-icon>search</mat-icon> -->
                    </mat-form-field>
                
                </div>
        
            </div>

        <!-- </form> -->
    
    </div>
    <!-- /Toolbar -->
    
    <!-- CONTENT -->
    <div class="content p-24">
    
        <div class="result-info" fxLayout="row" fxLayoutAlign="start center">
    
            <span class="result-count h3 secondary-text">
                <span class="ml-4"> Total Results:-</span>
                <span>{{total_count}}</span>
            </span>
            
        </div>
    
        <!-- SEARCH LIST -->
        <div class="search-list" fxLayout="column">
    
            <div  class="search" *ngFor="let user of userlist">
    
                <div fxLayout="row" fxLayoutAlign="start center">
    
                    <div class="avatar-wrapper" fxFlex="0 1 auto" fxLayoutAlign="center center">
                        <img class="avatar" [src]="user.avatar_url" [alt]="login"/>
                    </div>
    
                    <div class="pr-4" fxFlex fxLayout="column" fxLayoutAlign="center start">
                        <div class="name">{{user.login}}</div>
                        <div>Profile Url:{{user.url}}</div>
                    </div>
    
                    <div fxLayout="row" fxLayoutAlign="end">
                        <button type="button" mat-raised-button *ngIf="!isExpansion" (click)="onClickDetails(user.repos_url,user.id)">Details</button>
                        <button type="button" mat-raised-button *ngIf="isExpansion && user.id == id" (click)="onClickCollaspe(user.id)">Collapse</button>
                    </div>

                </div>

                <div *ngIf="isExpansion && user.id == id" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20">
                    <div  *ngFor="let repository of repositorylist" fxLayout="column" fxLayoutAlign="start center">
                            <label>Repository Name : {{repository.name}}</label>
                            <label>Language : {{repository.language}}</label>
                            <label>Open issues count : {{repository.open_issues_count}}</label>
                            <label>Followers  : {{repository.watchers}}</label>
                            <div class="sep"></div>
                    </div>
                </div>
    
            </div>
            <mat-paginator [length]="total_count"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5,10,15,20]"
              (page)="getNextPrevious($event)">
            </mat-paginator>
    
        </div>
        <!-- / SEARCH LIST-->

    <!-- / CONTENT -->
    
    </div>
    