mat-card{
  max-width: 80%;
  align-self: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 40%;
} 
table {
  width: 100%;
  border: solid 1px black;
} 
mat-spinner{
  top: 35%;
  left: 50%;
  position: fixed;
  widows: 10%;;
  height: 10%;
  border-radius: 10%;
  transform: rotate(210deg);
  animation-delay: -0.4s;
}